*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(115, 139, 139);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    background-color: rgb(233, 208, 126);
}

.logo {
    font-weight: 800;
}

.list ul {
    display: flex;
    gap: 10px;

    list-style: none;
    border: 2px solid red;
}

.list ul li   {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    font-weight: 800;
    color: crimson;
}

.link
{
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: green;
}

@media (max-width:425px){
    header {
        border: 3px solid red;
        position: relative;
    }
    .list {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        display: none;
    }
    .list.active {
        
        display: flex;
    }

    .media {
        display:   none !important;
    }
    .cross {
        display: none !important;
    }
    

    .list ul  {
        margin-top: 20px;
        max-width: 100%;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
}